 /* ---------RESETS--------- */
 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
    display: block;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* FOR REMOVING THE BLANK SPACE ON THE SIDE  */
@media screen and (max-width: 430px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/*------------CONTAINER/GRID-------------*/
.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

/*------------BUTTON CSS-------------*/

.btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 1px solid var(--light);
}

.btn:hover{
    background-color: var(--light);
    color: var(--dark);
    border: 1px solid var(--light);
}



/*------------ COLORS -------------*/
:root {
--dark:#111119;
--light: #ffffff;
--yellow: #FFCD17;
--grey: #393746;
--darkGrey:#191A21;
}


/* ============ HEADER ============ */

.header-top{
    background-color: var(--dark);
}

.header-mobile{
    display: none;
}

.header-top-wrapper{
    display: flex;
    justify-content:right;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem 0;
}

.header-items i{
    color: var(--yellow);
    margin-right: 1rem;
}

.header-items a{
    color: var(--light);
}

.header-down{
    background-color: var(--grey);
}

.header-down-wrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-branding{
    width: 10rem;
}

.header-nav ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 2rem;
}

.header-nav ul li a{
    margin-right: 1rem;
    color: var(--light);
    font-size: 2rem;
    font-weight: 600;
}

.header-nav ul li a:hover{
    color: var(--yellow);
}

.header-nav ul li i{
    color: var(--light)
}

.header-btn{
    margin-left: 10rem;
}

.header-btn a{
    color: var(--light);
}

.right-side{
    display: flex;
    align-items: center;
}

.header-box{
    display: flex;
    align-items: center;
}

.header-box img{
    margin-right: 1rem;
}

.Z-btn{
    height: 3rem;
}

@media screen and (max-width: 430px){
    .header-web{
        display: none;
    }

    .header-mobile{
        display: unset;
        position: relative;
    }

    .header-mobile .container{
        background-color: var(--grey);
    }

    .header-mobile-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-mobile-branding img{
        width: 10rem;
    }

    .header-mobile-nav{
        position: absolute;
        padding: 0 2rem;
        background-color: var(--light);
        max-height: 0;
        overflow: hidden;
        top: 8.6rem;
        width: 100%;
        left: 0;
        background-color: rgba(57, 55, 70, .95);
        transition: .5s ease;
        z-index: 1;
    }

    .header-mobile-nav.open{
        max-height: 45rem;
        transition: .5s ease;
    }

    .header-mobile-nav-list{
        padding-top: 1rem;
    }

    .header-mobile-nav-list li i{
        display: none;
    }

    .header-mobile-nav-list li{
        margin-bottom: 1rem;
        padding: 1rem 0;
        border-bottom: 1px solid var(--light);
    }

    .header-mobile-nav-list li a{
        font-size: 1.7rem;
        font-weight: 700;
        color: var(--light);
    }

    .header-mobile-btn{
        padding-top: 2rem;
        width: fit-content;
        margin: 0 auto;
    }
    
    .header-mobile-btn a{
        color: var(--light);
    }

    .header-mobile-nav-icons{
        margin-top: 3rem;
        padding-bottom: 1rem;
    }

    .header-mobile-nav-icons li{
        margin-bottom: .5rem;
    }

    .header-mobile-nav-icons li a{
        font-size: 1.4rem;
        color: var(--yellow);
    }

    .header-mobile-nav-icons li a i{
        margin-right: 1rem
    }

    .toggle__menu span{
        width: 2.5rem;
        height: .3rem;
        display: block;
        margin-top: .3rem;
        border-radius: 5rem;
        transition: .5s ease;
        background-color: var(--yellow);
    }

    .toggle__menu{
        display: block;
    }

    .toggle__menu.open span:first-child{
        transform: translate(0, 5px) rotate(45deg);
        transition: .5s ease;
    }

    .toggle__menu.open span:nth-child(2){
        opacity: 0;
        transition: .5s ease;
    }

    .toggle__menu.open span:last-child{
        transform: translate(0, -7px) rotate(-45deg);
        transition: .5s ease;
    }

    .toggle__menu:hover{
        cursor: pointer;
    }

}


/* ============ HERO SECTION ============ */
.hero{
    background-color: var(--dark);
}

.hero-bg{
    height: 80vh;
    background-image: url('./img/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-wrapper h1{
    padding-top: 3rem;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--yellow);
    line-height: 1.2;
}

.hero-wrapper h1 span{
    display: block;
    color: var(--light);
}

.hero-text{
    font-size: 2rem;
    color: var(--light);
    max-width: 65rem;
    line-height: 1.5;
    margin: 3.5rem 0;
}

.hero-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 2.5rem;
}

.hero-btn p{
    color: var(--light)
}

.hero-box{
    width: fit-content;
}

@media screen and (max-width: 430px) {

    .hero-wrapper{
        padding-top: 5rem;
    }

    .hero-text{
        margin: 4rem 0;
    }

    .hero-bg{
        height: 80vh;
    }

    .hero-wrapper h1{
        font-size: 3rem;
        line-height: 1.2;
    }
}

/* ============ LOGO SECTION ============ */
.logo{
    background-color: var(--yellow);
}

.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-content img{
    width: 15rem;
    height: 3.5rem;
}

.satya{
    width: 12rem;
}

@media screen and (max-width: 430px) {
    .logo-wrapper{
        display: flex;
        gap: 2rem;
    }

    .logo-content img{
        width: 7rem;
        height: 1.5rem;
    }
}


/* ============ REVOLUTIONIZE SECTION ============ */
.rev{
    background-color: var(--dark);
    padding: 5rem 0;
}

.rev-title{
    font-size: 4rem;
    color: var(--yellow);
    text-align: center;
}

.rev-title span{
    color: var(--light);
}

.rev-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.rev-contents{
    background-image:  url('./img/rev-box.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 32rem;
    padding: 3rem 5rem;
}

.rev-icons{
    background-color: var(--yellow);
    display: flex;
    align-self: center;
    padding: 1.2rem .5rem  .8rem .5rem;
    border-radius: 10px;
    width: fit-content;
}

.rev-label{
    font-size: 2.5rem;
    width: 25rem;
    font-weight: 700;
    color: var(--light);
    margin: 2rem 0;
}

.rev-desc{
    font-size: 1.6rem;
    width: 27rem;
    color: var(--light);
    opacity: 50%;
}

@media screen and (max-width: 430px) {

    .rev-title{
        font-size: 3rem;
    }

    .rev-wrapper{
        display: flex;
        flex-direction: column;
    }

    .rev-label{
        font-size: 2rem;
        width: unset;
    }

    .rev-desc{
        font-size: 1.5rem;
        width: fit-content;
    }

    .rev-contents{
        background-image:  url('./img/rev-box.svg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 30rem;
        width: 30rem;
        padding-left: 6rem;
    }

}


/* ============ SERVICES SECTION ============ */
.services{
    background-image: url('./img/services-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}

.services-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services-title h2{
    font-size: 3rem;
    font-weight: 600;
    color: var(--light);
}

.services-title img{
    width: 15rem;
}

.services-bigTitle{
    font-size: 5rem;
    font-weight: 600;
    color: var(--yellow);
    text-align: center;
    line-height: 1.2;
    margin-top: 2rem;
}

.services-bigTitle span{
    display: block;
    color: var(--light);
}

.services-wrapper{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}

.services-item{
    position: relative;
}

.services-item-bg{
    min-width: 35rem;
}

.services-text{
    background-image: url('./img/services-blur.png');
    width: 100%;
    height: 10rem;
    padding: 1rem  1.5rem;
    position: absolute;
    bottom: .7rem;
}

.services-text p{
    font-size: 3rem;
    width: 25rem;
    font-weight: 600;
    color: var(--light);
    line-height: 1.2;
}

@media screen and (max-width: 430px) {

    .services-bigTitle{
        font-size: 4rem;
    }

    .services-item-bg{
        min-width: 20rem;
    }

    .services-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 2rem;
        margin-right: 2rem;

    }
}


/* ============ BANNER 2 SECTION ============ */
.banner2{
    background-image: url('./img/banner2-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

.banner2-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.banner2-left-text h4{
    font-size: 2rem;
    font-weight: 800;
}

.banner2-left-text h2{
    font-size: 5rem;
    font-weight: 600;
    line-height: 1;
    margin: 3rem 0;
}

.banner2-left-text p{
    font-size: 1.5rem;

}

.banner2-left-text p span{
    background-color: var(--dark);
    color: var(--light);
    padding: .5rem;
    border-radius: 10px;
}

.banner2-left-column{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.banner2-left-column-content{
    width: 22rem;
}

.banner2-left-column-content h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.banner2-left-column-content p{
    font-size: 1.5rem;
    width: 100%;
}

.banner2-right{
    margin-right: -20rem;
}

.banner2-right img{
    width: 200rem;
}

@media screen and (max-width: 430px) {
    .banner2-wrapper{
        display: flex;
        flex-direction: column;
    }

    .banner2-left-text h4{
        margin-left: 2rem;
    }

    .banner2-left-text h2{
        font-size: 4rem;
        margin-left: 2rem;
    }

    .banner2-left-text p{
        font-size: 1.2rem;
        margin-left: 2rem;
    }
    

    .banner2-left-column{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .banner2-left-column-content h2{
        font-size: 2rem;
    }

    .banner2-left-column-content{
        width: fit-content;
    }

    .banner2-right{
        margin-right: 2rem;
        margin-left: 2rem;
    }
    
    .banner2-right img{
        width: fit-content;
    }
}


/* ============ IT SOLUTIONS SECTION ============ */
.solutions{
    padding: 8rem 0;
    background-color: var(--dark);
}

.solutions-bg{
    background-image: url('./img/IT\ solutions-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.solutions-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.solutions-right img{
    width: 60rem;
}

.solutions-left-title{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.solutions-left-title img{
    width: 10rem;
}

.solutions-left-title p{
    font-size: 2rem;
    color: var(--light);
    opacity: 70%;
}

.solutions-left-label{
    font-size: 5rem;
    font-weight: 600;
    color: var(--light);
    margin: 3rem 0;

}

.solutions-left-desc{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--light);
}

.solutions-left-list{
    margin-top: 3rem;
}

.solutions-left-list li{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

.solutions-left-list li img{
    min-height: 2rem;
}

.solutions-left-list li p{
    color: var(--light);
    font-size: 1.7rem;
}

.solutions-bottom{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solutions-bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.solutions-bottom-content img{
    max-width: 12rem;
}

.solutions-bottom-content p{
    font-size: 2.3rem;
    color: var(--light);
    width: 10rem;
    opacity: 80%;
}

.empower{
    margin-top: 10rem;
    padding-bottom: 5rem;
}

.empower-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empower-title{
    font-size: 4rem;
    color: var(--yellow);
    font-weight: 600;
    line-height: 1.2;
    padding-right: 10rem;
    border-right: 3px solid var(--yellow);

}

.empower-title span{
    color: var(--light);
}

.empower-left{
    padding-left: 10rem; 
}

.empower-left p{
    color: var(--light);
    font-size: 1.5rem;
}

.empower-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin-top: 2rem;
}

.empower-btn a{
    color: var(--light);
    font-weight: 600;
}

.empower-btn:hover a{
    color: var(--dark);
}

@media screen and (max-width: 430px) {
    .solutions{
        padding: 5rem 0;
    }

    .solutions-wrapper{
        display: flex;
        flex-direction: column;
    }

    .solutions-right img{
        display: none;
    }
    
    .solutions-left-title{
        gap: 1rem;
    }
    
    .solutions-left-label{
        font-size: 3rem;
    }

    .solutions-left-list{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .solutions-left-label{
        margin: 3rem 0;
        margin-left: 2rem;
    
    }
    
    .solutions-left-desc{
        margin-left: 2rem;
    }

    .solutions-bottom{
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 3rem;
        margin-left: 2rem;
    }

    .empower-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 2rem;
        margin-right: 2rem;

    }

    .empower-title{
        font-size: 3rem;
        text-align: center;
        padding-right: 0;
        padding-bottom: 3rem;
        border-right: none;
        border-bottom: 3px solid var(--yellow);
    }
    
    .empower-title span{
        color: var(--light);
        display: block;
    }
    
    .empower-left{
        padding-left: 0; 
        padding-top: 3rem;
    }
    
    .empower-left p{
        color: var(--light);
        font-size: 1.7rem;
        text-align: center;
    }
    
    .empower-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: fit-content;
        margin: 5rem auto 0 auto;
    }
    
}


/* ============ BANNER 3 SECTION ============ */
.banner3 {
    background-color: var(--dark);
}

.sub-section-1-top{
    background-image: url('./img/banner3-grid.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
}

.sub-section-1-top-img{
    width: 80rem;
    height: 70rem;
}

.sub-section-1-down{
    display: flex;
    justify-content: space-between;
    margin-top: -3rem;
}

.sub-section-1-down-contents{
    width: 35rem;
    padding: 1.5rem 0;
    background: rgb(34,27,45);
    background: linear-gradient(-180deg, rgba(34,27,45,1) 0%, rgba(42,36,64,1) 100%); 
    border-radius: 10px;
    box-shadow: 13px 14px 19px -10px rgba(75,63,109,1) inset;
    -webkit-box-shadow: 13px 14px 19px -10px rgba(75,63,109,1) inset;
    -moz-box-shadow: 13px 14px 19px -10px rgba(75,63,109,1) inset;
}

.sub-section-1-down-contents-title{
    color: var(--light);
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.sub-section-1-down-contents-title span{
    display: block;
}

.sub-section-1-down-contents-text{
    color: var(--light);
    text-align: center;
    font-size: 1.3rem;
    opacity: 50%;
    width: 25rem;
    margin: 0 auto;
}

/* SUB SECTION 1 MOBILE LAYOUT */
@media screen and (max-width: 430px) {
    .sub-section-1-top-img{
        width: 50rem;
        height: 40rem;
        margin-left: 2rem;
        margin-right: 2rem;

    }
    
    .sub-section-1-down{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }

}

.sub-section-2{
    margin-top: 10rem;
    position: relative;
}

.sub-section-2-gradient{
    position: absolute;
    top: -40rem;
    right: -55rem;
}

.sub-section-2-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.sub-section-2-title img{
    width: 15rem;
}

.sub-section-2-title p{
    font-size: 1.8rem;
    color: var(--light);
    font-weight: 600;
}

.sub-section-2-label{
    text-align: center;
    font-size: 4rem;
    color: var(--yellow);
    font-weight: 700;
    line-height: 1;
    margin-top: 3rem;
}

.sub-section-2-label span{
    display: block;
    color: var(--light);
}

.testimonial-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.testimonial-contents{
    background-image: url('./img/rev-box.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 3rem ;
}

.testimonial-ratings{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--yellow);
    margin-bottom: 2rem;
}

.testimonial-feedback{
    font-size: 1.3rem;
    color: var(--light);
    text-align: justify;
}

.testimonial-client{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.testimonial-name h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light);
}

.testimonial-name h6{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light);
    opacity: 50%;
}

/* SUB SECTION 2 MOBILE LAYOUT */
@media screen and (max-width: 430px) {

    .sub-section-2-gradient{
        /* position: absolute;
        top: -15rem;
        right: -10rem; */

        display: none;
    }
    
    .sub-section-2-title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        
    }
    
    .sub-section-2-title img{
        width: 10rem;
    }

    .sub-section-2-label{
        font-size: 3rem;
    }
    
    .testimonial-wrapper{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .testimonial-contents{
        margin: 0 2rem;
    }
}

.sub-section-3{ 
    background-color: var(--darkGrey);
    width: 60rem;
    padding: 3.5rem;
    border:1px solid var(--yellow);
    margin-top: 15rem;
}

.sub-section-3-FAQs{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.sub-section-3-FAQs h2{
    color: var(--light);
    font-weight: 600;
    opacity: 80%;
}

.sub-section-3-FAQs img{
    width: 10rem;
}

.sub-section-3-label{
    color: var(--light);
    font-weight: 700;
    font-size: 3rem;
    margin-top: 2rem;
}

.sub-section-3-dropdown{
    margin-top: 1.5rem;
}

.sub-section-3-dropdown-item h4{
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--light);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.sub-section-3-dropdown-item h4:hover{
    color: var(--yellow);
}

.sub-section-3-dropdown-item h4 i{
    transition: .5s ease;
}

.sub-section-3-dropdown-item h4 i.open{
    transform: rotate(45deg);
    transition: .5s ease;
}

.sub-section-3-dropdown-item-contents{
    max-height: 0px;
    overflow: hidden;
    transition: .5s ease;
}

.sub-section-3-dropdown-item-contents.open{
    max-height: 30rem;
    transition: .5s ease;
}

.sub-section-3-dropdown-item-contents li{
    padding-top: 1rem;
    padding-left: 2rem;
}

.sub-section-3-dropdown-item-contents li:last-child{
    margin-bottom: 1rem;
}

.sub-section-3-dropdown-item-contents li a{
    color: var(--light);
    font-size: 1.5rem;
}

.sub-section-3-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin-top: 5rem;
}

.sub-section-3-btn a{
    color: var(--light);
    font-weight: 600;
    font-size: 1.3rem;
}

/* SUB SECTION 4 MOBILE LAYOUT */
@media screen and (max-width: 430px) {
    .sub-section-3{
        width: fit-content;
        margin-left: 2rem;
        margin-right: 2rem;
    }


    .sub-section-3-dropdown-item h4{
        font-size: 1.5rem;
    }

}

.sub-section-4{
    margin-top: 15rem;
    position: relative;
    padding-bottom: 8rem;
}

.sub-section-4-gradient{
    /* position: absolute;
    left: -35rem;
    top: -25rem; */

    display: none;
}

.sub-section-4-News{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.sub-section-4-News img{
    width: 10rem;
}

.sub-section-4-News-title{
    color: var(--light);
    font-weight: 600;
    opacity: 80%
}

.sub-section-4-label{
    color: var(--yellow);
    font-size: 3rem;
    font-weight: 800;
    margin: 2rem 0;
}

.sub-section-4-label span{
    color: var(--light);
}

.sub-section-4-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.sub-section-4-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border: 1px solid var(--yellow);
}

.sub-section-4-contents-right img{
    height: 27rem;
    width: 80rem;
}

.sub-section-4-contents-left{
    margin: 2rem;
}

.sub-section-4-contents-left h6{
    font-size: 1.5rem;
    color: var(--yellow);
}

.sub-section-4-contents-left h4{
    font-size: 2rem;
    font-weight: 600;
    color: var(--light);
    margin: 1.5rem 0;
}

.sub-section-4-contents-left p{
    font-size: 1.3rem;
    font-weight: 100;
    text-align: justify;
    color: var(--light);
}

.sub-section-4-contents-down{
    margin-top: 3rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.sub-section-4-contents-down a{
    color: var(--light);
}

.sub-section-4-contents-down a i{
    font-size: .7rem;
    margin-left: 1rem;
}

.sub-section-4-contents-down img{
    width: 6rem;
}

/* SUB SECTION 4 MOBILE LAYOUT */
@media screen and (max-width: 430px) {
    .sub-section-4-gradient{
        position: absolute;
        left: -10rem;
        top: -10rem;
    }

    .sub-section-4{
        margin-top: 10rem;
    }
    
    .sub-section-4-label span{
        display: block;
    }
    
    .sub-section-4-wrapper{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin-top: 5rem;
    }

    .sub-section-4-contents{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .sub-section-4-contents{
        margin: 0 2rem;
    }
    
    .sub-section-4-contents-right img{
        object-fit: cover;
    }

    .sub-section-4-contents-down img{
        width: 5rem;
    }
        
}


/* ============ BANNER 4 SECTION ============ */
.banner4{
    background-color: var(--yellow);
    padding: 5rem 0;
}

.banner4-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.banner4-wrapper h2{
    font-size: 4rem;
    font-weight: 700;
}

.banner4-wrapper p{
    font-size: 2rem;
}

.banner4-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--dark);
}

.banner4-btn a{
    color: var(--dark);
    font-weight: 800;
    padding: .5rem 0;
}

@media screen and (max-width: 430px) {
    .banner4-wrapper h2{
        font-size: 3rem;
        text-align: center;
        line-height: 1;
    }
}

/* ============ INDUSTRIES SECTION ============ */
.industries{
    background-color: var(--dark);
    padding: 15rem 0;
}

.industries-bg{
    background-image: url('./img/industries-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.industries-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.industries-title h2{
    font-size: 2rem;
    color: var(--light);
    opacity: 80%;
}

.industries-title img{
    width: 10rem;
}

.industries-label{
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    color: var(--yellow);
    line-height: 1.2;
    margin-top: 3rem;
}

.industries-label span{
    color: var(--light);
    display: block;
}

.industries-content{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.industries-content img{
    width: 90rem;
}

@media screen and (max-width: 430px) {
    .industries{
        padding: 10rem 0;
    }

    .industries-label{
        font-size: 2.5rem;
    }

    .industries-content{
        margin-top: 5rem;
    }
    
    .industries-content img{
        width: fit-content;
    }

}


/* ============ CONTACT-FOOTER SECTION ============ */
.contact-footer{
    background-color: var(--yellow);
}

.contact-footer-bg{
    background-image: url('./img/footer-bg\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
}

.contacts-wrapper{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.contacts-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
}

.contacts-text{
    font-size: 1.6rem;
    width: 40rem;
}

.contacts-subscribe{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 6rem;
    margin-top: 2rem;
}


.contacts-subscribe span{
    display: block;
    width: 5rem;
    height: .15rem;
    background-color: var(--dark);
}

.contacts-subscribe p{
    font-size: 1.7rem;
    font-weight: 600;
}

.contacts-title{
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 3rem;
}

.contacts-list{
    margin-top: 6rem;
}

.contacts-list li{
    display: flex;
    align-items: start;
    gap: 1.5rem;
    width: 35rem;
    margin-bottom: 2rem;
}

.contacts-list li a{
    color: var(--dark);
    font-size: 1.6rem;
}

.contacts-list li i{
    color: var(--dark);
    font-size: 1.6rem;
}

.contacts-services{
    margin-top: 5rem;
}

.contacts-services li{
    margin-bottom: 1.3rem;
}

.contacts-services li a{
    color: var(--dark);
}

.contacts-services li a:hover{
    color: var(--light);
}

.footer-wrapper{
    padding: 3rem 0;
    border-top: 1px solid var(--dark);
}

.footer-wrapper-inside{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 3rem;
}

.footer-nav li a{
    color: var(--dark);
    font-weight: 700;
}

.footer-nav li a:hover{
    color: var(--light);
}


.footer-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.footer-icons li a{
    color: var(--dark);
    font-size: 1.7rem;
    font-weight: 700;
}

.footer-icons li a:hover{
    color: var(--light);
}

.footer-text{
    font-size: 1.55rem;
}

@media screen and (max-width: 430px){
    .contacts-wrapper{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    
    .contacts-text{
        font-size: 1.6rem;
        text-align: justify;
        width: unset;
    }

    .contacts-list li{
        width: 30rem;
    }

    .footer-wrapper-inside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .footer-nav li a{
        font-size: 1.4rem
    }

    
    .footer-text{
        text-align: center;
    }
    
}

/* ==================================================== */
/*                   CONTACT PAGE                       */
/* ==================================================== */
.contact-hero{
    background-color: var(--dark);
}

.contact-hero-bg{
    background-image: url('./img/contact-hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 5rem 0;
}

.contact-hero-title h1{
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: var(--light);
}

.contact-hero-title h2{
    font-size: 2rem;
    font-weight: 600;
    color: var(--light);
    text-align: center;
    margin-top: -.5rem;
}

.contact-hero-wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10rem;
    margin-top: 8rem;
}

.contact-hero-left{
    width: 40rem;
}

.contact-hero-left-title{
    font-size: 3.5rem;
    color: var(--light);
    font-weight: 700;
}

.contact-hero-left-list{
    margin-top: 2rem;
}

.contact-hero-left-list li{
    padding-top: 1.5rem;
    border-bottom: 1px solid var(--light);
    padding-bottom: 1rem;
}

.contact-hero-left-list li a{
    color: var(--light);
    opacity: 50%;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.contact-hero-left-list li:hover a{
    color: var(--yellow);
    opacity: 100%;
    cursor: pointer;
}

.contact-hero-left-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin-top: 5rem;
    color: var(--light);
}

.contact-hero-left-btn p{
    padding-right: 1rem;
}

.contact-hero-right{
    padding: 2rem;
    border: 1px solid var(--yellow);
    width: 50rem;
}

.contact-hero-right-title{
    font-size: 2.3rem;
    color: var(--light);
    font-weight: 700;
    margin-bottom: 2rem;
}

.contact-hero-right-text{
    font-size: 1.5rem;
    color: var(--light);
    margin-bottom: 2rem;
}

.contact-hero-right-img img{
    width: 40rem;
    margin-bottom: 2rem;
}

.contact-hero-right-details h3{
    font-size: 2rem;
    font-weight: 600;
    color: var(--light);
    margin-bottom: 2rem;
}

.contact-hero-right-contents{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.contact-hero-right-contents-list a{
    display: block;
    color: var(--light);
    margin-bottom: 1rem;
}

.contact-hero-right-contents-list a:hover{
    color: var(--yellow);
}

.contact-hero-right-contents-list a i{
    padding-right: 1rem;
}

.contact-hero-right-socials{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.contact-hero-right-socials li a{
    font-size: 1.8rem;
    color: var(--light);
}

.contact-hero-right-socials li a:hover{
    font-size: 1.8rem;
    color: var(--yellow);
}

@media screen and (max-width: 430px) {
    .contact-hero-title h1{
        font-size: 4rem;
    }
    
    .contact-hero-title h2{
        font-size: 1.5rem;
        margin-top: 0;
    }

    .contact-hero-wrapper{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 8rem;
    }
    
    .contact-hero-left{
        width: unset;
        margin-left: 2rem;
    }

    .contact-hero-right{
        padding: 2rem;
        margin: 0 2rem;
        width: fit-content;
    }

    .contact-hero-right-contents-list a{
        font-size: 1.4rem;
    }

    .contact-hero-right-socials{
        justify-content: center;
        margin-top: 3rem;
    }

}


/* ============ CONTACT-SERVICES SECTION ============ */
.contact-services{
    background-image: url('./img/services-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}

.contact-services-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact-services-title h2{
    font-size: 3rem;
    font-weight: 600;
    color: var(--light);
}

.contact-services-title img{
    width: 15rem;
}

.contact-services-bigTitle{
    font-size: 5rem;
    font-weight: 600;
    color: var(--yellow);
    text-align: center;
    line-height: 1.2;
    margin-top: 2rem;
}

.contact-services-bigTitle span{
    display: block;
    color: var(--light);
}

.contact-services-wrapper{
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
}

.contact-services-item{
    position: relative;
}

.contact-services-item:hover{
    cursor: pointer;
}

.contact-services-item-bg{
    min-width: 35rem;
}

.contact-services-text{
    background-image: url('./img/services-blur.png');
    width: 97%;
    height: 10rem;
    padding: 1rem  1.5rem;
    position: absolute;
    bottom: .7rem;
}

.contact-services-text p{
    font-size: 3rem;
    width: 25rem;
    font-weight: 600;
    color: var(--light);
    line-height: 1.2;
}

/* SLIDER CSS */
.contact-services .tns-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

@media screen and (max-width: 430px) {

    .contact-services-title h2{
        font-size: 2.5rem;
    }
    
    .contact-services-title img{
        width: 10rem;
    }
    
    .contact-services-bigTitle{
        font-size: 3.5rem;
    }

    
    .contact-services-wrapper{
        gap: 2rem;
    }

    div#tns1-mw {
        margin: 0 .5rem;
    }
}


/* ==================================================== */
/*                   ABOUT US PAGE                      */
/* ==================================================== */
.about-hero{
    background-color: var(--dark);
}

.about-hero-bg{
    background-image: url('./img/about-us-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 5rem 0;
}

.about-hero-title h1{
    font-size: 5rem;
    color: var(--light);
    font-weight: 700;
    text-align: center;
}

.about-hero-title h2{
    font-size: 1.7rem;
    color: var(--light);
    font-weight: 700;
    text-align: center;
}

.about-hero-wrapper{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 15rem;
}

.about-hero-description{
    padding: 4rem;
    background-color: var(--grey);
    border: 1px solid var(--yellow);
    max-width: 60rem;
    z-index: 1;
    margin-bottom: -10rem;
}

.about-hero-description h2{
    font-size: 3rem;
    color: var(--yellow);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.about-hero-description p{
    color: var(--light);
    font-size: 1.5rem;
    opacity: 80%;
    text-align: justify;
}

.about-hero-description p span{
    color: var(--yellow);
}

.about-hero-img{
    width: 450rem;
    margin-left: -10rem;
}

.about-hero-bottom{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
}

.about-hero-bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.about-hero-bottom-content img{
    max-width: 12rem;
}

.about-hero-bottom-content p{
    font-size: 2.3rem;
    color: var(--light);
    width: 10rem;
    opacity: 80%;
}

@media screen and (max-width: 430px) {
    .about-hero-wrapper{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 5rem;
    }
    
    .about-hero-description{
        padding: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        max-width: fit-content;
        margin-bottom: 0;
        order: 2;
    }

    .about-hero-description h2{
        text-align: center;
        font-size: 2.8rem;
    }

    .about-hero-img{
        width: fit-content;
        margin-left: 0;
    }
    
    .about-hero-bottom{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        padding-bottom: 5rem;
    }

}


/* ============ ABOUT BANNER 2 SECTION ============ */
.about-banner{
    padding: 5rem 0;
    background-color: var(--dark);
    position: relative;
}

.about-banner-gradient{
    position: absolute;
    width: 500rem;
    top: -30rem;
    left: 5%;
}

.about-banner-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-banner-img{
    width: 250rem;
    z-index: 1;
}

.about-banner-description{
    padding: 4rem;
    background-color: var(--darkGrey);
    border: 1px solid var(--yellow);
    max-width: 70rem;
    z-index: 1;
    margin-left: -10rem;
    margin-top: -10rem;
}

.about-banner-description p{
    color: var(--light);
    font-size: 1.5rem;
    text-align: right;
}

.about-banner-description p:last-child{
    margin-top: 2rem;
}

.about-banner-description p span{
    color: var(--yellow);
}

@media screen and (max-width: 430px){

    .about-banner{
        padding-top: 0;
    }

    .about-banner-gradient{
        position: absolute;
        width: fit-content;
        top: -10rem;
        left: 5%;
    }
    
    .about-banner-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .about-banner-img{
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        z-index: 1;
    }

    .about-banner-description{
        padding: 3rem;
        background-color: var(--darkGrey);
        border: 1px solid var(--yellow);
        max-width: fit-content;
        z-index: 1;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 0;
    }
    
    .about-banner-description p{
        color: var(--light);
        font-size: 1.5rem;
        text-align: justify;
    }
    
}

/* ============ ABOUT-SERVICES SECTION ============ */
.about-us-services{
    background-color: var(--dark);
    padding: 5rem 0 ;
}

@media screen and (max-width: 430px){
    .about-us-services{
        padding: 3rem 0 ;
    }
}

/* ============ ABOUT-BANNER 4 SECTION ============ */
.about-banner4{
    background-color: var(--dark);
    padding: 5rem 0;
}


.about-banner4-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.about-banner4-wrapper h2{
    font-size: 4rem;
    color: var(--light);
    font-weight: 700;
}

.about-banner4-wrapper p{
    font-size: 2rem;
    margin: 1.5rem 0;
    color: var(--light);
}

.about-banner4-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--light);
}

.about-banner4-btn a{
    color: var(--light);
    font-weight: 800;
    padding: .5rem 0;
}

@media screen and (max-width: 430px) {
    .about-banner4-wrapper h2{
        font-size: 3rem;
        text-align: center;
        line-height: 1;
    }
}


/* ==================================================== */
/*              SOFTWARE DEVELOPMENT PAGE               */
/* ==================================================== */
.soft-dev-hero{
    background-color: var(--dark);
}

.soft-dev-bg{
    padding: 5rem 0;
    height: 80vh;
    background-image: url('./img/soft-dev-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.soft-dev-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4rem;
}

.soft-dev-title{
    font-size: 5rem;
    font-weight: 700;
    color: var(--light);
    line-height: 1.2;
}

.soft-dev-title span{
    color: var(--yellow);
}

.soft-dev-text{
    color: var(--light);
    font-size: 1.7rem;
    opacity: 70%;
    width: 70%;
}

.soft-dev-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.soft-dev-btn a{
    color: var(--light);
}

@media screen and (max-width: 430px){

    .soft-dev-bg{
        height: 70vh;
    }

    .soft-dev-wrapper{
        align-items: center;
    }

    .soft-dev-title{
        font-size: 3rem;
        text-align: center;
    }
    
    .soft-dev-text{
        font-size: 1.5rem;
        text-align: justify;
        width: 90%;
        margin: 0 auto;
    }

    .soft-dev-btn{
        margin: 3rem auto;
    }

}

/* ============ SOFT-DEV SERVICES SECTION ============ */
.soft-dev-services{
    background-color: var(--dark);
    padding: 5rem 0;
}

.soft-dev-services-bigTitle{
    font-size: 4rem;
    font-weight: 600;
    color: var(--light);
    text-align: center;
    line-height: 1.2;
    margin-top: 2rem;
}

.soft-dev-services-wrapper{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}

.soft-dev-services-item{
    position: relative;
}

.soft-dev-services-item-bg{
    min-width: 35rem;
}

.soft-dev-services-text{
    background-image: url('./img/services-blur.png');
    width: 100%;
    height: 10rem;
    padding: 1rem  1.5rem;
    position: absolute;
    bottom: .7rem;
}

.soft-dev-services-text p{
    font-size: 3rem;
    width: 25rem;
    font-weight: 600;
    color: var(--light);
    line-height: 1.2;
}

@media screen and (max-width: 430px) {

    .soft-dev-services-bigTitle{
        font-size: 4rem;
    }

    .soft-dev-services-item-bg{
        min-width: 20rem;
    }

    .soft-dev-services-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

/* ============ PROGRAMMING LANGUAGE SECTION ============ */
.programming{
    padding: 1rem 0;
    background-color: var(--dark);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.programming-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.programming-content{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.programming-content p{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light);
    opacity: 70%;
}

.programming-content i{
    color: var(--yellow);
}

@media screen and (max-width: 430px) {
    .programming-wrapper{
        display: flex;
        gap: 2.5rem;
    }

    .programming-content{
        gap: 1rem;
    }

    .programming-content p{
        font-size: 1rem;
        text-align: center;
        width: fit-content;
    }

    .programming-content i{
        font-size: .5rem;
    }
}

/* ============ SOFT-DEV POINTS SECTION ============ */
.soft-dev-points{
    background-color: var(--dark);
    padding: 5rem 0;
}

.soft-dev-points-title{
    font-size: 4rem;
    font-weight: 700;
    color: var(--light);
    text-align: center;
}

.soft-dev-points-title span{
    color: var(--yellow);
}

.soft-dev-points-wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}

.soft-dev-points-left, .soft-dev-points-right{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 60rem;
}

.soft-dev-points-left-contents h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--light);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.soft-dev-points-left-contents h3 i{
    color: var(--yellow);
    font-size: 1.5rem;
    margin-right: 1rem;
}

.soft-dev-points-left-contents p{
    color: var(--light);
    opacity: 70%;
    font-size: 1.8rem;
    margin-left: 2.5rem;
}

@media screen and (max-width: 430px) {

    .soft-dev-points{
        padding: 3rem 0;
    }

    .soft-dev-points-title{
        font-size: 3rem;
    }

    .soft-dev-points-wrapper{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}


/* ============ ADVANCE SECTION ============ */
.advance{
    padding: 5rem 0;
    background-color: var(--dark);
}

/* .advance-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
} */

.advance-title{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: var(--yellow);
    margin-bottom: 1rem;
}

.advance-subtitle{
    font-size: 1.8rem;
    color: var(--light);
    opacity: 70%;
    text-align: center;
    width: 80rem;
    margin: 0 auto;
}

.advance-label{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--yellow);
    text-align: center;
    margin-top: 5rem;
}

.advance-wrapper{
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
}

.advance-item{
    background-color: var(--darkGrey);
    padding: 2rem;
}

.advance-item-bg{
    width: 50rem;
    height: 20rem;
}

.advance-text h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--yellow);
    text-align: center;
    margin: 1.5rem 0;
}

.advance-text p{
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--light);
    text-align: center;
    opacity: 70%;
}

@media screen and (max-width: 430px) {
    .advance{
        padding: 3rem 0;
    }

    .advance-title{
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    
    .advance-subtitle{
        font-size: 1.6rem;
        color: var(--light);
        width: fit-content;
    }

    .advance-label{
        font-size: 2.3rem;
    }

    .advance-item{
        width: fit-content;
    }

    .advance-item-bg{
        width: 33rem;
    }

    div#tns1-mw {
        margin: 0 1.5rem;
    }
}


/* ============ PROCESS SECTION ============ */
.process{
    padding: 5rem 0;
    background-color: var(--dark);
}

.process-title{
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    color: var(--light);
}

.process-grid{
    background-image: url('./img/process-grid.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.process-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 10rem;

    background-image: unset;
    background-image: url('./img/process-line.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.process-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.process-contents-description{
    width: 45rem;
}

.process-contents-title{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.process-contents-title h2{
    color: var(--light);
    font-weight: 600;
    font-size: 2.5rem;
}

.process-list li{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.process-list li p{
    font-size: 1.7rem;
    color: var(--light);
    opacity: 70%;
    line-height: 1.2;
}

.process-list li i{
    font-size: 1.3rem;
    color: var(--yellow);
}

.process-contents-img img{
    width: 35rem;
}

@media screen and (max-width: 430px){

    .process{
        padding: 3rem 0;
    }

    .process-title{
        font-size: 4rem;
    }
    
    .process-grid{
        background-size: cover;
    }

    .process-wrapper{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 10rem;
        background-image: none;
    }

    .process-contents-img{
        display: none;
    }

    .process-contents-description{
        width: fit-content;
        margin: 0 1.5rem;
    }

    .process-contents-title h2{
        font-size: 2.1rem;
    }

    .process-list li p{
        font-size: 1.5rem;
    }
}

/* ============ SUSTAINING SECTION ============ */
.sustaining{
    padding: 5rem 0;
    background-color: var(--dark);
}

.sustaining-title{
    color: var(--light);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.sustaining-title span{
    color: var(--yellow);
}

.sustaining-text{
    color: var(--light);
    opacity: 70%;
    text-align: center;
    font-size: 1.5rem;
}

.sustaining-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 5rem;
}

.sustaining-content{
    padding: 2rem;
    background-color: var(--yellow);
    width: 30rem;
    min-height: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sustaining-content-img{
    margin: 0 auto;
    min-height: 10rem;
}

.sustaining-content-img img{
    width: 10rem;
}

.sustaining-content h2{
    color: var(--dark);
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    margin-top: 2rem;
}

@media screen and (max-width: 430px){
    .sustaining{
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
    
    .sustaining-title{
        font-size: 3rem;
        margin: 2rem;
    }

    .sustaining-text{
        text-align: justify;
        margin: 0 2rem;
    }

    .sustaining-wrapper{
        display: flex;
        flex-direction: column;
    }

}