 /* ---------RESETS--------- */
 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
    display: block;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*------------CONTAINER/GRID-------------*/
.container{
max-width: 120rem;
margin: 0 auto;
padding: 1rem 1.5rem;
}

/*------------BUTTON CSS-------------*/

.btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 1px solid var(--light);
}

/*------------ COLORS -------------*/
:root {
--dark:#111119;
--light: #ffffff;
--yellow: #FFCD17;
}


/* ============ HEADER ============ */

.header-top{
    background-color: var(--dark);
}

.header-top-wrapper{
    display: flex;
    justify-content:right;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem 0;
}

.header-items i{
    color: var(--yellow);
    margin-right: 1rem;
}

.header-items a{
    color: var(--light);
}

.header-down{
    background-color: pink;
}

.header-down-wrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-branding{
    width: 10rem;
}

.header-nav ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 2rem;
}

.header-nav ul li a{
    margin-right: 1rem;
    color: var(--light)
}

.header-nav ul li i{
    color: var(--light)
}

.header-btn{
    margin-left: 10rem;
}

.right-side{
    display: flex;
    align-items: center;
}

.header-box{
    display: flex;
    align-items: center;
}

.header-box img{
    margin-right: 1rem;
}

.Z-btn{
    height: 3rem;
}


/* ============ HERO SECTION ============ */
.hero{
    background-color: var(--dark);
}

.hero-bg{
    height: 80vh;
    background-image: url('./img/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-wrapper h1{
    padding-top: 3rem;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--yellow);
    line-height: 1.2;
}

.hero-wrapper h1 span{
    display: block;
    color: var(--light);
}

.hero-text{
    font-size: 2rem;
    color: var(--light);
    max-width: 65rem;
    line-height: 1.5;
    margin: 3.5rem 0;
}

.hero-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 2.5rem;
}

.hero-btn p{
    color: var(--light)
}

.hero-box{
    width: fit-content;
}

/* ============ LOGO SECTION ============ */
.logo{
    background-color: var(--yellow);
}

.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-content img{
    width: 15rem;
    height: 3.5rem;
}

.satya{
    width: 12rem;
}


/* ============ REVOLUTIONIZE SECTION ============ */
.rev{
    background-color: var(--dark);
    padding: 5rem 0;
}

.rev-title{
    font-size: 4rem;
    color: var(--yellow);
    text-align: center;
}

.rev-title span{
    color: var(--light);
}

.rev-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.rev-contents{
    background-image:  url('./img/rev-box.svg');
    background-repeat: no-repeat;
    min-height: 32rem;
    padding: 3rem 5rem;
}

.rev-icons{
    background-color: var(--yellow);
    display: flex;
    align-self: center;
    padding: 1.2rem .5rem  .8rem .5rem;
    border-radius: 10px;
    width: fit-content;
}

.rev-label{
    font-size: 2.5rem;
    width: 25rem;
    font-weight: 700;
    color: var(--light);
    margin: 2rem 0;
}

.rev-desc{
    font-size: 1.6rem;
    width: 27rem;
    color: var(--light);
    opacity: 50%;
}


/* ============ SERVICES SECTION ============ */
.services{
    background-image: url('./img/services-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}

.services-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services-title h2{
    font-size: 3rem;
    font-weight: 600;
    color: var(--light);
}

.services-title img{
    width: 15rem;
}

.services-bigTitle{
    font-size: 5rem;
    font-weight: 600;
    color: var(--yellow);
    text-align: center;
    line-height: 1.2;
    margin-top: 2rem;
}

.services-bigTitle span{
    display: block;
    color: var(--light);
}

.services-wrapper{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}

.services-item{
    position: relative;
}

.services-item-bg{
    min-width: 35rem;
}

.services-text{
    background-image: url('./img/services-blur.png');
    width: 100%;
    height: 10rem;
    padding: 1rem  1.5rem;
    position: absolute;
    bottom: .7rem;
}

.services-text p{
    font-size: 3rem;
    width: 25rem;
    font-weight: 600;
    color: var(--light);
    line-height: 1.2;
}


/* ============ BANNER 2 SECTION ============ */
.banner2{
    background-image: url('./img/banner2-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}