 /* ---------RESETS--------- */
 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
    display: block;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*------------CONTAINER/GRID-------------*/
.container{
max-width: 120rem;
margin: 0 auto;
padding: 1rem 1.5rem;
}

/*------------BUTTON CSS-------------*/

.btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 1px solid var(--light);
}

/*------------ COLORS -------------*/
:root {
--dark:#111119;
--light: #ffffff;
--yellow: #FFCD17;
}


/* ============ HEADER ============ */

.header-top{
    background-color: var(--dark);
}

.header-top-wrapper{
    display: flex;
    justify-content:right;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem 0;
}

.header-items i{
    color: var(--yellow);
    margin-right: 1rem;
}

.header-items a{
    color: var(--light);
}

.header-down{
    background-color: var(--dark);
}

.header-down-wrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-branding{
    width: 10rem;
}

.header-nav ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 2rem;
}

.header-nav ul li a{
    margin-right: 1rem;
    color: var(--light)
}

.header-nav ul li i{
    color: var(--light)
}

.header-btn{
    margin-left: 10rem;
}

.right-side{
    display: flex;
    align-items: center;
}

.header-box{
    display: flex;
    align-items: center;
}

.header-box img{
    margin-right: 1rem;
}

.Z-btn{
    height: 3rem;
}


/* ============ HERO SECTION ============ */
.hero{
    background-color: var(--dark);
}

.hero-bg{
    height: 80vh;
    background-image: url('./img/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-wrapper h1{
    padding-top: 3rem;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--yellow);
    line-height: 1.2;
}

.hero-wrapper h1 span{
    display: block;
    color: var(--light);
}

.hero-text{
    font-size: 2rem;
    color: var(--light);
    max-width: 65rem;
    line-height: 1.5;
    margin: 3.5rem 0;
}

.hero-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 2.5rem;
}

.hero-btn p{
    color: var(--light)
}

.hero-box{
    width: fit-content;
}

/* ============ LOGO SECTION ============ */
.logo{
    background-color: var(--yellow);
}

.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-content img{
    width: 15rem;
    height: 3.5rem;
}

.satya{
    width: 12rem;
}


/* ============ REVOLUTIONIZE SECTION ============ */
.rev{
    background-color: var(--dark);
    padding: 5rem 0;
}

.rev-title{
    font-size: 4rem;
    color: var(--yellow);
    text-align: center;
}

.rev-title span{
    color: var(--light);
}

.rev-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.rev-contents{
    background-image:  url('./img/rev-box.svg');
    background-repeat: no-repeat;
    min-height: 32rem;
    padding: 3rem 5rem;
}

.rev-icons{
    background-color: var(--yellow);
    display: flex;
    align-self: center;
    padding: 1.2rem .5rem  .8rem .5rem;
    border-radius: 10px;
    width: fit-content;
}

.rev-label{
    font-size: 2.5rem;
    width: 25rem;
    font-weight: 700;
    color: var(--light);
    margin: 2rem 0;
}

.rev-desc{
    font-size: 1.6rem;
    width: 27rem;
    color: var(--light);
    opacity: 50%;
}


/* ============ SERVICES SECTION ============ */
.services{
    background-image: url('./img/services-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}

.services-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services-title h2{
    font-size: 3rem;
    font-weight: 600;
    color: var(--light);
}

.services-title img{
    width: 15rem;
}

.services-bigTitle{
    font-size: 5rem;
    font-weight: 600;
    color: var(--yellow);
    text-align: center;
    line-height: 1.2;
    margin-top: 2rem;
}

.services-bigTitle span{
    display: block;
    color: var(--light);
}

.services-wrapper{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}

.services-item{
    position: relative;
}

.services-item-bg{
    min-width: 35rem;
}

.services-text{
    background-image: url('./img/services-blur.png');
    width: 100%;
    height: 10rem;
    padding: 1rem  1.5rem;
    position: absolute;
    bottom: .7rem;
}

.services-text p{
    font-size: 3rem;
    width: 25rem;
    font-weight: 600;
    color: var(--light);
    line-height: 1.2;
}


/* ============ BANNER 2 SECTION ============ */
.banner2{
    background-image: url('./img/banner2-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

.banner2-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.banner2-left-text h4{
    font-size: 2rem;
    font-weight: 800;
}

.banner2-left-text h2{
    font-size: 5rem;
    font-weight: 600;
    line-height: 1;
    margin: 3rem 0;
}

.banner2-left-text p{
    font-size: 1.5rem;

}

.banner2-left-text p span{
    background-color: var(--dark);
    color: var(--light);
    padding: .5rem;
    border-radius: 10px;
}

.banner2-left-column{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.banner2-left-column-content{
    width: 22rem;
}

.banner2-left-column-content h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.banner2-left-column-content p{
    font-size: 1.5rem;
    width: 100%;
}

.banner2-right{
    margin-right: -20rem;
}

.banner2-right img{
    width: 200rem;
}


/* ============ IT SOLUTIONS SECTION ============ */
.solutions{
    padding: 8rem 0;
    background-color: var(--dark);
}

.solutions-bg{
    background-image: url('./img/IT\ solutions-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.solutions-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.solutions-right img{
    width: 60rem;
}

.solutions-left-title{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.solutions-left-title img{
    width: 10rem;
}

.solutions-left-title p{
    font-size: 2rem;
    color: var(--light);
    opacity: 70%;
}

.solutions-left-label{
    font-size: 5rem;
    font-weight: 600;
    color: var(--light);
    margin: 3rem 0;

}

.solutions-left-desc{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--light);
}

.solutions-left-list{
    margin-top: 3rem;
}

.solutions-left-list li{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

.solutions-left-list li img{
    min-height: 2rem;
}

.solutions-left-list li p{
    color: var(--light);
    font-size: 1.7rem;
}

.solutions-bottom{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solutions-bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.solutions-bottom-content img{
    max-width: 12rem;
}

.solutions-bottom-content p{
    font-size: 2.3rem;
    color: var(--light);
    width: 10rem;
    opacity: 80%;
}

.empower{
    margin-top: 10rem;
}

.empower-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empower-title{
    font-size: 4rem;
    color: var(--yellow);
    font-weight: 600;
    line-height: 1.2;
    padding-right: 10rem;
    border-right: 3px solid var(--yellow);

}

.empower-title span{
    color: var(--light);
}

.empower-left{
    padding-left: 10rem; 
}

.empower-left p{
    color: var(--light);
    font-size: 1.5rem;
}

.empower-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin-top: 2rem;
}

.empower-btn a{
    color: var(--light);
    font-weight: 600;
}


/* ============ BANNER 3 SECTION ============ */
.banner3 {
    background-color: var(--dark);
}

.sub-section-1-top{
    background-image: url('./img/banner3-grid.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
}

.sub-section-1-top-img{
    width: 80rem;
    height: 70rem;
}

.sub-section-1-down{
    display: flex;
    justify-content: space-between;
    margin-top: -3rem;
}

.sub-section-1-down-contents{
    width: 35rem;
    padding: 1.5rem 0;
    background: rgb(34,27,45);
    background: linear-gradient(-180deg, rgba(34,27,45,1) 0%, rgba(42,36,64,1) 100%); 
    border-radius: 10px;
    box-shadow: 13px 14px 19px -10px rgba(75,63,109,1) inset;
    -webkit-box-shadow: 13px 14px 19px -10px rgba(75,63,109,1) inset;
    -moz-box-shadow: 13px 14px 19px -10px rgba(75,63,109,1) inset;
}

.sub-section-1-down-contents-title{
    color: var(--light);
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.sub-section-1-down-contents-title span{
    display: block;
}

.sub-section-1-down-contents-text{
    color: var(--light);
    text-align: center;
    font-size: 1.3rem;
    opacity: 50%;
    width: 25rem;
    margin: 0 auto;
}

.sub-section-2{
    margin-top: 10rem;
    position: relative;
}

.sub-section-2-gradient{
    position: absolute;
    top: -40rem;
    right: -55rem;
}

.sub-section-2-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.sub-section-2-title img{
    width: 15rem;
}

.sub-section-2-title p{
    font-size: 1.8rem;
    color: var(--light);
    font-weight: 600;
}

.sub-section-2-label{
    text-align: center;
    font-size: 4rem;
    color: var(--yellow);
    font-weight: 700;
    line-height: 1;
    margin-top: 3rem;
}

.sub-section-2-label span{
    display: block;
    color: var(--light);
}

.testimonial-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.testimonial-contents{
    background-image: url('./img/rev-box.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 3rem ;
}

.testimonial-ratings{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--yellow);
    margin-bottom: 2rem;
}

.testimonial-feedback{
    font-size: 1.3rem;
    color: var(--light);
    text-align: justify;
}

.testimonial-client{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.testimonial-name h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light);
}

.testimonial-name h6{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light);
    opacity: 50%;
}